body {
  background-image: url(background.jpeg);
  text-align: center;
}

/* Organize search and welcome section */

.navigation {
  display: flex;
  flex-direction: column;
  margin: 20px;
}
#logo {
  border-radius: 50%;
  width: 300px;
}
.search {
  display: flex;
  flex-direction: column;
}

/* Display search results */

.results {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  flex-grow: 1;
  align-items: stretch;
}
.searchResult {
  margin: 10px;
  max-width: 400px;
  background-color:darkgray; 
}
.resultImg {
  display: block;
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
h1,p {
  color: white;

}
input {
  width: 100px;

}
h4 {
  color: white
}

/* Smaller devices */

@media (max-device-width: 400px) {

#logo {
  border-radius: 50%;
  width: 50px;
}
.searchResult {
  margin: 10px;
  max-width: 200px;
  /* background-color:darkgray;  */
}
}