body {
  background-image: url(https://lh3.googleusercontent.com/gQHgijk4QJqkO3eH_ppaw6ei31d0xku6Si_RNHhi1JqCsAi9CdLsj9WM10sSGB2Hh09pKopznJusV7h-9nF3rnK2ksEeo7tOpTaEkQU8h3Wq0Iq9DxNnkx9Qpc833p_ePSWRbL5nEuZM0t-ZG4qp161ZrakFu6M8GGBHI7582B62JcAseM_VbgPshjitlfys9781qWEbuXWu_CwHoxO-ywwmZH4jFSsJupQz3q1sHS77gr0DDouUV7ExYiF9LTHPKjxT2PO90_Q73XWDOF4b7s2DFtfQ3WVdpvjyvI6Rniq8gsj6FtBSl84zJt04am-HuqP1XY4hIGo6XWL_G21YepQKLE4Sou8Y5Q_gdGMGdmAap6gVtCyKQe3N9kmv6VdO1XlSgZZXzdq7uYA6Bztca5VBb1rQEbH5pvCKouhPU0z8cOUkZdZfSTJ5P2eBFCmSHb0VY0YaUsDVQH4E6Cf16SWzCcWRcL_YEyrHUc0e9VP0zZUE2VAVDhdsVBq3YQCMiaR1f5sFzkhE__XGoYZem80RQhBdlnqtiShY_bvjbmZMra6CFvISwxXmg29ozIfYVblfsPmzna2s1L3EnCsR4Ke8cyWV_kF1qDW-qyislFO8L81EWTQpmxOBFIDyKi8IMf60XIweR5mx4J2Zx92JaBTgNPyM5fdGoe-yS_pCgqHwYVZLS6BVDQLgMYCjuOpykFCVHSyLyoP0908ijVzeGA=s1280-no?authuser=0);
  text-align: center;
}

/* Organize search and welcome section */

.navigation {
  display: flex;
  flex-direction: column;
  margin: 20px;
}
#logo {
  border-radius: 50%;
  width: 300px;
}
.search {
  display: flex;
  flex-direction: column;
}

/* Display search results */

.results { 
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  flex-grow: 1;
  align-items: stretch;
}
.searchResult {
  margin: 10px;
  width: 400px;
  background-color:darkgray; 
}
.resultImg {
  display: block;
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
h1,p {
  color: white;

}
input {
  width: 100px;

}
h4 {
  color: white
}

@media (max-device-width: 400px) {

#logo {
  border-radius: 50%;
  width: 50px;
}
.searchResult {
  margin: 10px;
  max-width: 200px;
}
}