body {
  background-image: url(background.jpeg)
}
#logo {
  border-radius: 50%;
  width: 50px;
}
.search {
  display: flex;
  flex-direction: column;
}
h1,p {
  color: white;

}

input {
  width: 100px;

}

search {
  
}